// Colors
$dark-bg-color: #191b1c;
$dark-font-color: #aba398;
$orange: #f19d37;
$light-gray-button: #686868;
$gray-button: #4d4d4d;
$dark-gray-display: #323232;

//Breakpoints
$small-screen-min: 768px;
$medium-screen-min: 992px;
$large-screen-min: 1200px;

